.navbar {
  font-style: 14px;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  &.scrolled{
    background-color: var(--primary-color);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 50px;
    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
      }
      span {
        cursor: pointer;
        margin-right: 20px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      img {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: var(--primary-color);
          border-radius: 5px;
        }
        span {
          padding: 10px;
          cursor: pointer;
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
